
@{
    Layout = null;
}
<form [formGroup]="fg" >
    <div class="form-group">
        <label>Name</label>
        <input type="text" #name formControlName="name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" formControlName="description" class="form-control"></textarea>
    </div>
    <input type="button" value="Submit" (click)="edit()" class="btn btn-primary" />

</form>
