
@{
    Layout = null;
}
<h2> Category List</h2>
<accordion>
    <accordion-group #group *ngFor="let category of (store.select('categories') | async)?.categories">
        <div accordion-heading>
            <h4>Category Name :</h4> {{category.name}}
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <h4>Description :</h4> {{category.description}}
        &nbsp;<br /><br /><br />
    </accordion-group>

</accordion>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<category-add></category-add>