<nav class="navbar navbar-inverse"  *ngIf="blnDisplayMenu">
    <div class="container-fluid">
        
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['spa' , 'home']">Home</a></li>
            <li><a [routerLink]="['spa' , 'author']" routerLinkActive="active">Authors</a></li>
            <li><a [routerLink]="['spa' , 'categories']" routerLinkActive="active">Categories</a></li>
            <li><a [routerLink]="['spa' , 'books']" routerLinkActive="active">Books</a></li>  
            <li><a [routerLink]="['spa' , 'users']" routerLinkActive="active">Users</a> </li>          
            <li><a [routerLink]="['spa' , 'about']" routerLinkActive="active">About</a></li>
            <li><a href="javascript:void(0)" (click)="logOut()" routerLinkActive="active">Logout</a></li>
            
        </ul>

    </div>
</nav>

<router-outlet></router-outlet>





