
@{
    Layout = null;
}
<h2> SEARCH USERS </h2>


    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" id="username" [formControl]="username" class="form-control" />
    </div>

{{ users | async | json }}


