
@{
    Layout = null;
}
<h2>Books List</h2>
<div *ngFor="let book of (store.select('books') | async)?.books">
    <div class="col-md-1"><strong>Title</strong></div>
    <div class="col-md-11"> {{book.title}}</div>

    <div class="col-md-1"><strong>Authors</strong></div>
    <div class="col-md-11">
     <span *ngFor="let author of book.authors">
         {{ author.first_name }} {{ author.last_name }},
     </span>        
    </div>

    <div class="col-md-1"><strong>Category</strong></div>
    <div class="col-md-11">{{ book.category.name }}</div>

    <div class="col-md-1"><strong>Price</strong></div>
    <div class="col-md-11">{{ book.price }}</div> 
    
    <div class="col-md-1"><strong>Description:</strong></div>   
    <div class="col-md-11">
      {{book.description}}
    </div>
    <br />&nbsp;  
    <input type="button" (click)="edit(book)" value="Edit" class="btn btn-primary btn-md" />
</div>

<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<book-add></book-add>


<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <book-edit [book]="editBook" [model]="staticModal"></book-edit>               
            </div>
        </div>
    </div>
</div>
