@{
    ViewBag.Title = "About";
    Layout = null;
}

<h2>Sample SPA developed using below technologies</h2>

<ul>
    <li> ASP.NET MVC 5</li>
    <li> Angular 2</li>
    <li> WebPack 2 for module bundling and Tree Shaking</li>
    <li> Type Script </li>
    <li> ngrx for State Management </li>
</ul>
