
@{
    Layout = null;
}

<h2>Sample SPA developed using below technologies</h2>

<table>
    <thead>       
    </thead>
    <tbody>
        <tr>
            <td><img src="~/images/aspmvc.jpg" /></td>
            <td><img src="~/images/a2.png" /></td>
            <td><img src="~/images/es6.png" /></td>
            <td><img src="~/images/ngrx.jpg" /></td>
        </tr>
        <tr>
            
            <td><img src="~/images/rxjs.png" /></td>
            <td><img src="~/images/ts.png" /></td>
            <td><img src="~/images/webpack.jpg" /></td>
            <td><img src="~/images/sqlServer.png" /></td>
        </tr>
        <tr>
            
            <td><img src="~/images/ef.jpg" /></td>
            <td><img src="~/images/nodejs.png" /></td>
            <td><img src="~/images/bootstrap.jpg" /></td>
            <td><img src="~/images/github.png" /></td>
        </tr>        
    </tbody>
</table>