
@{
    Layout = null;
}

<h2>Sample SPA developed using below technologies</h2>
<img src="~/images/aspmvc.jpg" />
<img src="~/images/a2.png" />
<img src="~/images/es6.png" />
<img src="~/images/ngrx.jpg" />
<img src="~/images/rxjs.png" />
<img src="~/images/ts.png" />
<img src="~/images/webpack.jpg" />
<img src="~/images/sqlServer.png" />
<img src="~/images/ef.jpg" />
<img src="~/images/nodejs.png" />
<img src="~/images/bootstrap.jpg" />
