
@{
    Layout = null;
}

<form [formGroup]="fg">

    <ul>
        <li *ngFor="let error of errors">
            {{error}}
        </li>
    </ul>    
    <div class="form-group">
        <label>First Name</label>
        <input type="hidden" formControlName="id" />
        <input type="text" #firstName placeholder="First Name"  formControlName="first_name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" placeholder="First Name"  formControlName="last_name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea placeholder="First Name"  formControlName="description" class="form-control"></textarea>
    </div>

    <input type="button" value="Submit" (click)="edit()" class="btn btn-primary" />

</form>