
@{
    Layout = null;
}
<h2> Author List</h2>
<accordion>
    <accordion-group #group *ngFor="let author of (store.select('authors') | async)?.authors">
        <div accordion-heading>
            <h4>Author Name :</h4> {{author.first_name}}&nbsp;&nbsp;{{author.last_name}}
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <h4>Author Description :</h4>{{author.description}}
        &nbsp;<br /><br /><br />
        <input type="button" (click)="edit(author)" value="Edit" class="btn btn-primary btn-md" />
    </accordion-group>
    
</accordion>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<author-add></author-add>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <author-edit [author]="editAuthor" [model]="staticModal"></author-edit>
            </div>
        </div>
    </div>
</div>